# Docker Images and Versions

VERSITY_S3GW_VERSION=1.4.0
INFLUXDB3_VERSION=3.9.0
INFLUXDB3_BUILD_VERSION=3.9.0
INFLUXDB3_EXPLORER_VERSION=1.6.2
PYTHON_VERSION=3.15.0a7-alpine3.22
# https://hub.docker.com/layers/library/python/3.15.0a7-alpine3.22/images/sha256-5c08f25d6e1481974a882455bcf84a1dd3a9a03a9498f3d61fe08126bd91129f
PYTHON_DIGEST=sha256:91f42f75ba6a04f0ae571a1010e0dfca3ac79d7d41ee0e366a7f8ab6dc55faad
APSCHEDULER_VERSION=3.11.2
AIOHTTP_VERSION=3.13.5
# At least 12.2 needed to work with internal CAs
GRAFANA_VERSION=12.4-ubuntu

# Network Configuration
# Fixed IPs help with automation of credentials/tokens, best leave as-is to have it "just work"
SFC_SUBNET=172.30.0.0/24
S3_IP=172.30.0.2
INFLUXDB_IP=172.30.0.3
SFC_IP=172.30.0.4
UTILS_IP=172.30.0.5
GRAFANA_IP=172.30.0.6
EXPLORER_IP=172.30.0.7

# Port Configuration
S3_PORT=8443
INFLUXDB_PORT=8181
GRAFANA_PORT=3000
EXPLORER_PORT=28443

# S3 Configuration for InfluxDB user
# Credentials are supposed to be issued after first stack start
S3_ACCESS_KEY=influxdb3_admin
S3_SECRET_KEY=influxdb3_admin_secret
S3_BUCKET=influxdb

# InfluxDB Configuration
# INFLUXDB_ADMIN_TOKEN is supposed to be issued after first start
INFLUXDB_ADMIN_TOKEN=influxdb3_admin_token
INFLUXDB_DB=sfc
INFLUXDB_NODE_ID=node0
# Disable anonymous usage analytics (InfluxDB3 specific)
INFLUXDB3_TELEMETRY_DISABLE_UPLOAD=true

# SFC Configuration
SFC_HI_FREQ=60
SFC_MED_FREQ=300
SFC_LO_FREQ=3600
SFC_EXPERIMENTAL_FREQ=600

# SolidFire Configuration (override these for your environment)
SF_MVIP=192.168.1.34
SF_USERNAME=monitor
SF_PASSWORD=______

# Grafana Configuration (defaults, override as needed)
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=_____
